body{
        background-image: url(images/image_2.png);
}
#nav_font{
    color: antiquewhite;
    
    
}
body.signinbody{
    background-color: #e6f2ff; 
}
.card.sigincard{
    background-color: #f4f4f4;
    margin: 10%;
    padding: 40px 0px 20px;
    box-shadow: 2px 2px 5px rgba( 0, 0, 0, .5);
}

img.img-sigin{
    text-align: center;
    padding-left:10%;
    
    
}
a.navbar-brand.signup{
                color: #5cd65c;
    
    
}

form-group.jform{
    
    font-size: 16px;
    
}
.username{
color: aliceblue;    
font-family: sans-serif;
font-size: 38px;

}

            